.Home {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.75;
}

.body {
    max-width: 1000px;
    min-width: 800px;
    width: 60%;
    margin: 0 auto;
}
