.user {
  margin-top: -30px;
}

.user .header {
  background: linear-gradient(60deg, #23074d 0%, #cc5333 100%);
}

.user .waves {
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.user .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.user .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.user .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.user .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.user .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

.info-value {
  color: #999999;
}
.edit-icon:hover,
.edit-text:hover {
  color: #1d1d1d;
}

.rent-info .book,
.rent-info .desk,
.model-container {
  border: 1px solid #d3d3d3;
}
