@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

/* helpers/sticky.css */
.sticky {
  position: sticky;
  will-change: transform;
  z-index: 9999;
}

.sticky--top {
  top: 0;
}

.hd {
  width: 100%;
  color: #000;
  line-height: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 6px;
  background-color: #fff;
}

.hd::after {
  bottom: 0;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.hd.is-active::after {
  opacity: 1;
}

.user-icon:hover {
  color: #934b00;
}

#logo {
  width: 140px;
  padding: 0 30px;
  display: inline-block;
}

.navigation {
  width: calc(100vw - 200px);
}

/* modules/navigation.css */
.item {
  @apply block cursor-pointer;
  padding: 0 0.5rem;
}

.is-active {
  background-color: #d9c5b6;
  border-radius: 999em;
  color: #934b00;
}
