.container {
  max-width: 1000px;
  min-width: 800px;
  width: 60%;
  margin: 0 auto;
}

.book-list {
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
}

.category-container .card {
  background-color: #f3ebf8;
}
.bookCard {
  transition: 0.2s box-shadow;
  width: 18%;
}
.bookCard:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s box-shadow;
}
