.app {
  font-family: MuseoSlabFree, Rockwell, -apple-system, ".SFNSText-Regular",
    "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif;
}

@font-face {
  font-family: MuseoSlabFree;
  font-style: normal;
  font-weight: 500;
  src: url(../resources/fonts/museo-slab-500.woff) format("woff"),
    url(../resources/fonts/museo-slab-500.ttf) format("truetype");
}
